@import '../../../assets/fonts/fonts.css';
.actionBtn {
  font-size: 3em;
  cursor: pointer;
  transform: rotate(90deg);
  padding-left: 11rem;
  margin: 0;
  margin-bottom: -9rem;
}

.snapshot {
  text-align: center;
  img {
    max-width: 800px;
    max-height: 800px;
  }
}

ul.links {
  padding-bottom: 20px;
}

.content-wrapper {
  background-color: #ffffff;
  height: 100%;
  overflow: hidden;
  #capture-screen {
    background-color: #ffffff;
    height: 100%;
    overflow: hidden;
    width: 100%;
    webcam {
      height: 100%;
      width: 100%;
    }
    ::ng-deep .webcam-wrapper {
      border: 5px solid #01a0da;
    }
    @keyframes resplandorAnimation {
      0%,
      100% {
        box-shadow: 0px 0px 20px;
      }
      50% {
        box-shadow: 0px 0px 0px;
      }
    }
    .legend {
      cursor: pointer;
      background: url('/assets/img/IDIconSMFront-azul.png') no-repeat;
      background-color: #ffffff;
      background-position: 20px 19px;
      background-size: 25px 31px;
      border-radius: 6px;
      bottom: 0;
      box-sizing: content-box;
      color: #01a0da;
      font-family: 'Open Sans', sans-serif;
      font-size: 13px;
      font-weight: 500;
      /*height: 166px;*/
      left: 4%;
      margin: auto;
      padding: 63px 11px 35px 13px;
      position: absolute;
      top: 0;
      width: 36px;
      writing-mode: vertical-rl;
    }
    #back1 {
      background: url('/assets/img/cross-light.png') no-repeat;
      background-size: cover;
      height: 19px;
      position: absolute;
      right: 19px;
      top: 19px;
      width: 19px;
      z-index: 4;
    }
  }
  #result-screen {
    background-color: #ffffff;
    height: 100%;
    #result-image-wrapper {
      margin-top: 10%;
      position: relative;
      #result-image {
        display: block;
        height: 30%;
        margin: 0 auto;
        width: 83%;
      }
    }
    .checked {
      background: url('/assets/img-new/icon-check.png') no-repeat center bottom;
      box-sizing: content-box;
      height: 100%;
      bottom: 40%;
      position: absolute;
      width: 100%;
    }
    .title {
      font-family: 'Open Sans', sans-serif;
      font-size: 22px;
      font-weight: 500;
    }
    .subtitle {
      font-family: 'Open Sans', sans-serif;
      font-size: 17px;
      font-weight: 400;
      padding: 9px 0 60px;
      #bold {
        font-weight: 500;
      }
    }
    .hidden {
      visibility: hidden;
    }
    #temp2 {
      display: none;
    }
  }
  .lower-panel {
    bottom: 0;
    padding-bottom: 33px;
    position: absolute;
    text-align: center;
    width: 100%;
  }
  .button {
    background-color: #ff9204;
    border: 2px solid #ff9204;
    border-radius: 999px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 700;
    max-width: 320px;
    width: 90%;
    padding: 12px 0;
    cursor: pointer;
    &:disabled {
      background-color: #d1d1d1;
    }
    &:hover {
      background-color: #ff710f;
    }
    &:focus {
      background-color: #e88300;
    }
  }
}

video {
  transform: rotate(90deg);
}

.button-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

#back2 {
  background: url('/assets/img/arrow.png') no-repeat;
  background-size: cover;
  height: 19px;
  left: 19px;
  position: absolute;
  top: 19px;
  width: 19px;
}
.countdown:before {
  content: '321';

  font-family: monospace;
  font-size: 4rem;
  display: inline-block;
  position: absolute;
  top: 3rem;
  left: 15rem;
  width: 1ch;
  overflow: hidden;

  -webkit-animation: countdowns 3s steps(3);
  -moz-animation: countdowns 3s steps(3);
  -ms-animation: countdowns 3s steps(3);
  -o-animation: countdowns 3s steps(3);
  animation: countdowns 3s steps(3);
}

@-webkit-keyframes countdowns {
  0% {
    text-indent: 0;
  }
  100% {
    text-indent: -3ch;
  }
}
@-moz-keyframes countdowns {
  0% {
    text-indent: 0;
  }
  100% {
    text-indent: -3ch;
  }
}
@-ms-keyframes countdowns {
  0% {
    text-indent: 0;
  }
  100% {
    text-indent: -3ch;
  }
}
@-o-keyframes countdowns {
  0% {
    text-indent: 0;
  }
  100% {
    text-indent: -3ch;
  }
}
@keyframes countdowns {
  0% {
    text-indent: 0;
  }
  100% {
    text-indent: -3ch;
  }
}
.spinner {
  bottom: 0;
  box-sizing: content-box;
  font-size: 13px;
  font-weight: 500;

  left: 4%;
  margin: auto;
  padding: 63px 11px 35px 13px;
  position: absolute;
  top: 0;
  width: 36px;
}
