@import '../../../assets/fonts/fonts.css';
.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.tocapture {
  display: flex;
  flex-direction: column;
}
#result-image-wrapper {
  margin-top: 10%;
  /*position: relative;*/
  display: block;
  height: 30%;
  margin: 0 auto;
  width: 83%;
}

.capturedImg {
  width: 25%;
}
.lower-panel {
  display: flex;
  flex-direction: row;
}
#checked {
  background: url('/assets/img-new/icon-check.png') no-repeat center bottom;
  position: absolute;
  left: 0;
  top: 0;
  right: 43rem;
  bottom: 9rem;
}
