<div id="content-wrapper">
  <div class="tocapture" *ngIf="!webcamImageF">
    <webcam
      [height]="width"
      [width]="width"
      class="fa-rotate-90"
      [imageType]="imageType"
      [allowCameraSwitch]="true"
      [trigger]="triggerObservable"
      (imageCapture)="handleImage($event)"
      *ngIf="showWebcam"
      (initError)="handleInitError($event)"
    ></webcam>
    <div id="info">
      <div class="bottom-15 alert alert-primary">
        <div>Realizaremos una selfie para terminar</div>
      </div>
      <div class="actionBtn" (click)="triggerSnapshot()" title="Take Picture">
        📸
      </div>
    </div>
  </div>
  <div id="result-screen" *ngIf="webcamImageF && !errorMessage">
    <div id="back2"></div>
    <div id="result-image-wrapper" class="snapshot" *ngIf="webcamImageF">
      <img id="result-image" [src]="webcamImageF.imageAsDataUrl" />
      <div class="title">¡Listo!</div>
      <div id="checked"></div>
    </div>
    <div class="lower-panel">
      <button
        class="button"
        type="button"
        value="CONTINUAR"
        (click)="goToNext($event)"
      >
        CONTINUAR
      </button>
    </div>
  </div>
  <div class="button-content" *ngIf="errorMessage">
    <div class="container mb-5">
      <div class="card">
        <div class="card-header">
          <span>Disculpe</span>
        </div>
        <div class="card-body">
          <span
            >No pudimos validar los datos de la cara, por favor intentelo
            nuevamente</span
          >
        </div>
      </div>
    </div>

    <button
      class="button"
      type="button"
      value="INTENTAR NUEVAMENTE"
      (click)="goBack($event)"
    >
      INTENTAR NEUVAMENTE
    </button>
  </div>
</div>
