body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canv-content > canvas,
#canv-content > div,
#canv-content > video {
  position: absolute !important;
}

#canv-content > div {
  bottom: 15%;
}

#message {
  position: absolute;
  max-width: 100vh;
}

.bottom {
  position: fixed;
  bottom: 5%;
  width: 100%;


}

label {
  text-align: center;
}

.bottom-15 {
  position: fixed;
  bottom: 13%;
  width: 100%;
  text-align: center;
}
