<div class="content">
  <div id="canv-content">
    <video id="video" [width]="width" [height]="width" autoplay muted></video>
  </div>
  <div id="message">
    <div class="bottom-15 alert alert-primary">
      <div>{{ stepSelect.message }}</div>
    </div>
    <div class="mb-3 bottom">
      <div class="input-group-text">
        <input
          type="checkbox"
          [(ngModel)]="showDraw"
          aria-label="Checkbox for following text input"
        />
        <label>Ver puntos biometricos</label>
      </div>
    </div>
  </div>
</div>
