/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
  /*overflow: hidden;*/
}

body {
  height: 100%;
  margin: 0;
  /*overflow: hidden;*/
}

.webcam-wrapper {
  height: 100%;
}

.webcam-wrapper video {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
